.App {
  text-align: center;
}

.App-logo {
  height:50px;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fas {font-size: 25px;}
.nav-link{color: palevioletred!important; text-transform: uppercase;}
.nav-link:hover{color: #555 !important;}
.text-pink { color:#db0054}
i:hover { color:#555}
.bg-pink{
  background-color: #db0054;
}
button{ cursor: pointer; text-transform: uppercase;border-radius: 6px;}
.iButton{font-size: 16px;}
.iButton:hover{color: #db0054!important;}
